<div class="transparentcontainer">
<div class="sec_content">
<div class="sec_head">Musiguru Carnatic Symphony 2013</div>

<div class="desc-content">
	Thank you for showing your interest in joining the Musiguru Carnatic Symphony  2013. <br/>
</div>
<div>
	
<div class="desc-content" id="email_confirmed_content">

<div class="loc1-notes-temp" style="display:none">
	<dl>
		<dt>
			Detroit: 
		</dt>
		<dd>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
		</dd>
	</dl>
</div>
<div class="loc2-notes" style="display:none">
	<dl>
		<dt>
			Location 2: 
		</dt>
		<dd>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
		</dd>
	</dl>
</div>
<div class="loc3-notes" style="display:none">
	<dl>
		<dt>
			Location 3: 
		</dt>
		<dd>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
		</dd>
	</dl>
</div>
<div class="loc4-notes" style="display:none">
	<dl>
		<dt>
			Location 4: 
		</dt>
		<dd>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
		</dd>
	</dl>
</div>
<div id="stepOneDiv">
	<div class="stepsTitle">For the Symphony, the steps you’ll need to follow in preparation for the performance are:</div>

<dl>
<dt>
Step 1: 
</dt>
<dd>
Learn a set of Carnatic songs by downloading them here.<br/>
In order to prepare for the symphony, you will need to learn the songs from the list below. Depending on your skill level and the amount of time you can spend on learning, you can choose to learn all songs under one of the Categories below OR learn the entire set of songs across both categories<BR><BR>
I am learning :- <BR><BR>
<input type="checkbox" id="learning_category" value="1"/>&nbsp;Category 1<br>
<span>Vara leela gana, Saarasa netra, Guru murthe, Vande meenakshi tvam, Giridhara mamava, Shakti Sagitha Ganapathim</span><br><br>
<input type="checkbox" id="learning_category" value="2"/>&nbsp; Category 2<br>
<span>Giri raja, Dandamu pettenura, Jayathi jayathi, Bhaagyada, Shambho gangaadhara, We are the world</span><br><br>
<!--<div class="clearbutton rightButton" ng-click="postSongCategory()" style="margin-right: 200px;">
	<a class="GlobalYellowButton" href="javascript:void(0)" ><span>Submit</span></a> 
</div>-->
 <input type="submit" class="btnLogin" value="Submit" ng-click="postSongCategory()" style="margin-right: 200px;">
<BR/><BR/><BR/></div>
<div>
	Use the Musiguru iPhone/iPad application, learn, practise and share your renditions with us to get expert tips from our expert panel. 

For instructions on sharing your renditions please see this <a href="https://docs.google.com/a/levitum.com/document/d/1Y0QM39IPLCFTt_-XQ5qC2GzYFBYIZKLlkaJX2xjf4_A" target="_blank">link.</a> <BR><BR>

<!-- You can also win a free ticket to your favorite concert at the Cleveland Thyagaraja Festival - <a href="https://www.facebook.com/photo.php?fbid=481399698574922&set=a.469680919746800.95841.459695367412022&type=1&theater">Click here</a>  for more details  -->
</div><br>
<div style="margin-left:40%;">
	<a href="http://itunes.apple.com/us/app/musiguru/id530432717?mt=8" target="_blank">
		<img src="images/icon_appstore.png">
	</a>
</div>
<div style="clear:both"></div><br>

You can also learn by viewing the videos in the learning module below.<br><br>
<div style="width:100%;">
<div class="postRegstrTitleContainer">
	<span class="lessionTxt">Lessons</span>
	<span class="stepbystepTxt">Step by Step Learning</span>
</div>
</div>
<div id="sub-content-two" class="postregstrLessionContainer" style="height:500px;border: 1px solid #d9dfe3;box-shadow: 10px 10px 5px #888888;">
		<div id="chapters-Content" > 
			<div class="overlay" style="display:none;"><img src="images/ajax-loader.gif" class="loading_circle" alt="loading" /></div>
				<nav id="chaptersNav" class="chapters-scroll">
					<div id="chapters">
						
					</div>
					<div class="chapterTemplate chapterTemplateClass downloadSongContainer" style="display:none;">
						<div class="chapterContainer" style="width:100%;height:auto;">
							<div id="lessionId" class="lession" style="padding-top:20px">asdf</div>
							<div id="lessionTitle" class="lessionTitle" style="margin-top:7px;height:71px;">asdf</div>
							<img src="images/lesson_highlight.png" style="float:left;height:70px" class="lession-list-highlighter"/>
						</div>
					</div>
				</nav>
			</div>
			<div id="chapterInfo" class="lessonboard"> 
				<div class="overlay-white-bg" style="display:none;">
				<div class="overlay" style="display:none;"><img src="images/ajax-loader.gif" class="loading_circle" alt="loading" /></div>
				</div>
				<div id="chapterInfo_contents">
				<div >
					<div class="instructions selected lessonTab" ng-click="instructionClick()">
					 	<div><img src="images/icon_instructions_on.png"></div> <div>Instructions</div>
					</div>
					<div class="practice unselected lessonTab" ng-click="praticeClick()">
					 	<div><img src="images/icon_practice_off.png"></div> <div>Practice</div>
					</div>
					<div class="record unselected lessonTab" ng-click="recordClick()">
					 	<div><img src="images/icon_record_off.png"></div> <div>Record</div>
					</div>
					<div class="review unselected lessonTab" ng-click="reviewClick()">
					 	<div><img src="images/icon_review_off.png"></div> <div>Review</div>
					</div>
				</div>
				<div class="chapters-content">
					<div id="videoInsturctionsMsg" style="display:none;padding-top:100px;">
						Video instructions will be available shortly
					</div>
					<div id="video" style="padding-top:30px;">
						<iframe id="training_video" width="380px" height="175px" frameborder="0" allowfullscreen></iframe> 
						<div id="reviewIcon" style="display:none;">
							<img id="playImg"  src="images/button_play_reviewtab.png"/>
						</div>
						<img style="display:none;margin-top:-10px" id="recordIcon"  src="images/icon_record.png"/>
						<div id="no_video" style="display:none;">Please download the app to view this lesson.</div>
					</div>
					<div class="videoDescContainer">
						<div id="videoDesc" id="training_desc">
							<div>Download</div>
							<div>
							<a id="audioFile" href="">-audio</a>
							</div>
							<div>
							 <a id="notationFile" href="">-notation</a>
							</div>
							
						</div>
						<div id="recordDesc" style="display:none">
								In order to record and share with your guru or our expert panel - please try this on an iPhone/iPad/iPod
							</div>
						<div id="store_icon" style="display:none;">
							<a href="http://itunes.apple.com/us/app/musiguru/id530432717?mt=8" target="_blank">
							<img src="images/icon_appstore.png">
						</a>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>


<!--<div class="downloadLinkContainer"> (<a href="http://musiguru.s3.amazonaws.com/symphony/Musiguru_Carnatic_Symphony.zip" target="_blank">Download All</a>) </div><BR>-->



<div class="downloadLinkContainer"> 
	<a href="http://musiguru.s3.amazonaws.com/symphony/Musiguru_Carnatic_Symphony.zip" target="_blank" style="display:none">Download All</a> 
	(<a href="http://musiguru.s3.amazonaws.com/symphony/songs_in_western_notation.zip" target="_blank">Western Notation for songs</a>) 
	<br/><br/>
	(<a href="http://musiguru.s3.amazonaws.com/symphony/Orchestration_for_songs.zip" target="_blank">Orchestration for songs</a>) 
</div>




<!-- The songs will also be provided as a learning module here on this site shortly.<BR><BR> -->



</dd>

<BR/>
<BR/>
<div id="stepTwoDiv">
<dt>
Step 2:
</dt>
<dd>
<!-- Live rehearsals TBD (These details will also be posted on the site here and be notified to you via email).
<br/><br/> -->

<!-- Optionally, you can get assistance from our eminent panel - K.N. Shashikiran, Bhargavi Balasubramanian and P. Ganesh via Skype by prior appointment and for an additional fee payable to the panel member.<br>
 To setup an appointment please send an email to<a href="mailto:musiguru@levitum.com?Subject=Skype%20appointment%20%2D%20for%20Symphony%20training" onclick="recordOutboundLink(this, 'Mail-To', 'Skype appointment');return false;"> musiguru@levitum.com</a> with the subject "Skype appointment - for Symphony training"
<BR/><BR/>
-->
</dd>
<dd>
<b>Send Payment as follows: </b><br/> 
<ul>
 		<li>			
			For students from a music school with 10 or more participants - $50
		</li>
		<li>
				For students who have participated in the Musiguru Carnatic Symphony at Cleveland - $50
		</li>
		<li>
				For all other students either as individuals or from music schools with less than 10 students - $75
		</li>
		<li>
			For students of Music Schools, kindly check with your music school for number of total participants and the relevant registration fees and remit the amount to your school. <br> <br>
		</li>

		<li>
			For individuals, Please send a cheque favoring "School of Music and Dance" for the above amount to the below address.
		</li><br>
		
		<ul>	
			<li>
				Kindly indicate "Musiguru Symphony, Detroit - 2013" along with your name and email address on the memo.  <br> <br>
			</li>	
			
			<li>Payments to be sent to:</li>
			The School of World Music and Dance,<br>
			21884, Meridian lane,<br>
			Novi, Michigan 48375<br><br>
			<li><b>Note:</b></li>
			Once you have sent the Cheque Please email us a confirmation with the Cheque Number/Bank/Date to  <a href="mailto:musiguru@levitum.com?Subject=Payment%20Confirmation" onclick="recordOutboundLink(this, 'Mail-To', 'Payment Confirmation');return false;">musiguru@levitum.com</a>

		</ul>

<!-- <li>
	For Individuals the fees for participating in the Symphony at Detroit is $150.
	<ul>
		<li>If you are participating as an individual, please send a cheque favoring <b>"School of Music and Dance"</b> for $150 to the below address before March 1st, 2013.</li><br>
		<li>Kindly indicate participant's name and “Carnatic Symphony 2013 - Detroit” on the memo.</li><br>
		<li>Payments to be sent to:</li>
		The School of World Music and Dance,<br>
		21884, Meridian lane,<br>
		Novi, Michigan 48375<br><br>
		<li><b>Note:</b></li>
		Once you have sent the Cheque Please email us a confirmation with the Cheque Number/Bank/Date to  <a href="mailto:musiguru@levitum.com?Subject=Payment%20Confirmation" onclick="recordOutboundLink(this, 'Mail-To', 'Payment Confirmation');return false;">musiguru@levitum.com</a>

	</ul>
</li> -->
</ul><br><br></div>

You can also get the latest updates and other exciting news by visiting our Facebook page  <a href="https://www.facebook.com/Musiguru" target="_blank">facebook.com/Musiguru</a>.<br><br>
</dd>
<dt>
Special Introductory Musiguru Subscription Offer!
</dt>
<dd>
Musiguru is pleased to extend our very special introductory offer of $100 subscription for a year's worth of access to our entire Carnatic content that includes lessons from some of the Music Greats including - the legendary Dr. M Balamuralikrishna, Neyveli Santanagopalan, the Carnatic Brothers, Abhishek Raghuram, Suguna Purushothaman, Suguna Varadachari, Geetha Venkataraghavan, V. Subramaniam, Chitravina Ravikiran, Padma Shankar and many others... <br><br/> 

<b>To avail the $100 subscription offer: </b><br/> 
<ul>
	<li>
			Please send a cheque favoring "School of Music and Dance" for $100 to the below address.
		</li><br>
		<ul>	
			<li>
				Kindly indicate ""Musiguru Subscription" along with your name and email address on the memo.  <br> <br>
			</li>	
			
			<li>Payments to be sent to:</li>
			The School of World Music and Dance,<br>
			21884, Meridian lane,<br>
			Novi, Michigan 48375<br><br>
			<li><b>Note:</b></li>
			Once you have sent the Cheque Please email us a confirmation with the Cheque Number/Bank/Date to  <a href="mailto:musiguru@levitum.com?Subject=Payment%20Confirmation" onclick="recordOutboundLink(this, 'Mail-To', 'Payment Confirmation');return false;">musiguru@levitum.com</a>. Once we receive the payment we will activate your subscription and notify you via email, along with the steps to access the lessons on your iOS devices (iPhone/iPod touch/iPad)  

		</ul>
</ul>
</div>
</div>
<div id="email_not_verified_content" style="display:none">
<div class="desc-content">
	The email address you provided while registering needs to be verified.
	<br/><br/>
	To verify your email:<br/>
	Please check your Inbox. You should have received an email from Musiguru.<br/>
	Click and follow the link provided in the email; once your email address is successfully verified, return to this webpage.
	<br/><br/>

	<!--<div class="clearbutton rightButton" ng-click="verifyMail()" style="margin-right: 200px;">
		<a class="GlobalYellowButton" href="javascript:void(0)" ><span>I have verified email</span></a> 
	</div>
	<div class="clearbutton rightButton" ng-click="resendEmail()">
	<a class="GlobalYellowButton" href="javascript:void(0)" ><span>Resend Verification mail</span></a> -->
	<input type="submit" class="btnLogin" ng-click="verifyMail()" style="margin-right: 200px;" value="I have verified email"></input>
	<input type="submit" class="btnLogin" ng-click="resendEmail()" style="margin-right: 200px;" value="Resend Verification mail"></input>
</div>
	<BR><BR>
</div>
</div>
<!--<input type="button" class="btnLogin" value="Logout" tabindex="11" id="logout" ng-click="logout()"/>-->
<div class="clearbutton rightButton" ng-click="logout()">
	<a class="GlobalRedButton" href="javascript:void(0)" ><span>Logout</span></a> 
</div>


</div>
</div>