<div class="transparentcontainer">
  <div class="sec_content" >
    <div class="sec_head">
      Musiguru Carnatic Symphony
    </div>
    <div class="symphonyBtnContainer" style="display:none;">
      <div class="symphoyBtnInnerContainer">
		<input type="button" class="btnLogin carnaticSymphonyRegister" value="Register" ng-click="symphoneyHomeBtnClick('loc1')">
      </div>
      <div style="float:left; margin-left:35px; margin-top:8px;" onclick="displayPopUp()"  id="symphonynonLoggedInDiv">
        Already signed up for the Symphony?
        <br/>
        <a href="javascript:void(0)"  style="margin-top:-5px;">
          <span>
            Login here
          </span>
        </a>
        
      </div>
      <div style="float:left; margin-left:35px; margin-top:8px;display:none" id="symphonyLoggedInDiv">
        You are logged in as&nbsp;&nbsp;
        <span id="loggedInEmail">
        </span>
      </div>
      <div style="clear:both;">
      </div>
    </div>
    
    <br>
    <div style="clear:both">
    </div>
    
    
    
    <div class="desc sydney">
      <br>
      <span>
        <b style="float:left;">
          Sydney : &nbsp;
        </b>
        
        <input type="button" class="btnLogin btnregister" value="Register" ng-click="symphoneyHomeBtnClick('sydney')">
        
        
      </span>
      <div>
        Musiguru presents 
        <b>
          the next edition of our unique and well received Carnatic Symphony
        </b>
        <br>
        <br>
        
        <b>
          The Carnatic Symphony,
        </b>
        a unique idea conceptualized by Sri K.N.Shashikiran, fuses Western Classical with Carnatic music. It will have kids from various nationalities and musical backgrounds performing together. This concert will feature simple yet attractive pieces from Carnatic music such as short Utsava Sampradaya kritis of Sri Tyagaraja, Nottu svarams of Sri Muttusvamy Dikshitar and other similarly popular pieces presented through voice and instruments.
        <br>
        <br>
        
        
        This Symphony  has already been featured in the prestigious Cleveland Thyagaraja Festival, 2013. Participants will be awarded special medals and certificates at the end of the performance and will get global media visibility via television and YouTube channels.
        <br>
        <br>
        
        
        We invite all music students, including those at beginner levels, to participate in this great opportunity.
        <br>
        <br>
        <a class="sydney_link" href="javascript:void(0)" ng-click="showMore('sydney')">
          (Show more)
        </a>
        <br>
        <br>
        <br>
      </div>
      <div class="sydney_more" style="display:none;">
        <u>
          <b>
            Details
          </b>
        </u>
        <ul>
          <li>
            <u>
              Expert Panel
            </u>
            : K. N Shashikiran, Chitravina P. Ganesh (Carnatica
            Brothers) and Prof. Leo Coach (Cleveland State University)
          </li>
          <li>
            <u>
              Music Arrangement
            </u>
            : Keyboard Sathyanaryana (child prodigy)
          </li>
          <li>
            <u>
              Age Criteria
            </u>
            : Below 16 years
          </li>
          
          <li>
            <u>
              Eligibility:
            </u>
            Students who are familiar with singing geethams and small songs like the Nottu Svarams. Any training in Western classical and choir singing may be mentioned separately.
          </li>
          <li>
            <u>
              Training
            </u>
            :
            <ul>
              <li>
                Students will be provided an online experience to familiarize themselves with the songs
              </li>
              <li>
                Students can avail of individual training support from their teachers
              </li>
              <li>
                If needed, our expert team will consider additional rehearsals and personalized Skype sessions (with prior appointment)
              </li>
              <li>
                List of Songs
              </li>
              <div>
                In order to prepare for the symphony, you will need to learn the songs from the list below. Depending on your skill level and the amount of time you can spend on learning, you can choose to learn all songs under one of the Categories below OR learn the entire set of songs across both categories
                <br/>
                <br>
                Category 1
                <br>
                <br>
                <ol>
                  <li>
                    Vara leela gana
                  </li>
                  <li>
                    Saarasa netra
                  </li>
                  <li>
                    Guru murthe
                  </li>
                  <li>
                    Vande meenakshi tvam
                  </li>
                  <li>
                    Giridhara mamava
                  </li>
                  <li>
                    Shakti Sagitha Ganapathim
                  </li>
                  
                  
                </ol>
                <br/>
                Category 2
                <br>
                <br>
                <ol>
                  <li>
                    Giri raja
                  </li>
                  <li>
                    Dandamu pettenura
                  </li>
                  <li>
                    Jayathi jayathi
                  </li>
                  <li>
                    Bhaagyada
                  </li>
                  <li>
                    Shambho gangaadhara
                  </li>
                  <li>
                    We are the world
                  </li>
                </ol>
                <br>
                
              </div>
            </ul>
          </li>
          <div class="allSongsTxt">
            (All songs are available for download after completing registration)
          </div>
          <li>
            <u>
              Recognition:
            </u>
            All participants will receive a medal and a certificate signed by eminent Carnatic musicians.
          </li>
          <li>
            <u>
              Locations
            </u>
            :
            <ul>
              <li>
                Indo-American Festival of Performing Arts - Sarovar at Detroit, Oakland University at 1-2 PM on May 11th, 2013
              </li>
              <li>
                For other locations, please check back for updates on our Facebook page (
                <a href="http://www.facebook.com/Musiguru" target="_blank">
                  www.facebook.com/Musiguru)
                </a>
                .
              </li>
            </ul>
          </li>
          <li>
            <u>
              Registration Fees
            </u>
            : 
            <br/>
            
            <ul>
              <li>
                
                For students from a music school with 10 or more participants - $50
              </li>
              <li>
                For students who have participated in the Musiguru Carnatic Symphony at Cleveland - $50
              </li>
              <li>
                For all other students either as individuals or from music schools with less than 10 students - $75
              </li>
            </ul>
            
          </li>
          
          <a href="javascript:void(0)" ng-click="showLess('sydney')">
            (Show less)
          </a>
        </div>
      </div>
      <div class="desc detroit" style="display:none">
        <br>
        <span>
          <b style="float:left;">
            Detroit : &nbsp;
          </b>
          
          <input type="button" class="btnLogin btnregister" value="Register" ng-click="symphoneyHomeBtnClick('detroit')">
          
          
        </span>
        <div>
          Musiguru presents 
          <b>
            the next edition of our unique and well received Carnatic Symphony at the Indo-American Festival of Performing Arts - Sarovar at Detroit, 2013.
          </b>
          <br>
          <br>
          
          <b>
            The Carnatic Symphony,
          </b>
          a unique idea conceptualized by Sri K.N.Shashikiran, fuses Western Classical with Carnatic music. It will have kids from various nationalities and musical backgrounds performing together. This concert will feature simple yet attractive pieces from Carnatic music such as short Utsava Sampradaya kritis of Sri Tyagaraja, Nottu svarams of Sri Muttusvamy Dikshitar and other similarly popular pieces presented through voice and instruments.
          <br>
          <br>
          
          The Carnatic Symphony, an Indo-American collaboration, in honor of World leader Barack Obama, is a cultural gesture to promote world peace and harmony.
          <br>
          <br>
          
          This Symphony  has already been featured in the prestigious Cleveland Thyagaraja Festival, 2013. Participants will be awarded special medals and certificates at the end of the performance and will get global media visibility via television and YouTube channels.
          <br>
          <br>
          
          
          We invite all music students, including those at beginner levels, to participate in this great opportunity.
          <br>
          <br>
          <a class="detroit_link"  href="javascript:void(0)" ng-click="showMore('detroit')">>
            (Show more)
          </a>
        </div>
        <div class="detroit_more" style="display:none;">
          <u>
            <b>
              Details
            </b>
          </u>
          <ul>
            <li>
              <u>
                Expert Panel
              </u>
              : K. N Shashikiran, Chitravina P. Ganesh (Carnatica
              Brothers) and Prof. Leo Coach (Cleveland State University)
            </li>
            <li>
              <u>
                Music Arrangement
              </u>
              : Keyboard Sathyanaryana (child prodigy)
            </li>
            <li>
              <u>
                Age Criteria
              </u>
              : Below 16 years
            </li>
            
            <li>
              <u>
                Eligibility:
              </u>
              Students who are familiar with singing geethams and small songs like the Nottu Svarams. Any training in Western classical and choir singing may be mentioned separately.
            </li>
            <li>
              <u>
                Training
              </u>
              :
              <ul>
                <li>
                  Students will be provided an online experience to familiarize themselves with the songs
                </li>
                <li>
                  Students can avail of individual training support from their teachers
                </li>
                <li>
                  If needed, our expert team will consider additional rehearsals and personalized Skype sessions (with prior appointment)
                </li>
                <li>
                  List of Songs
                </li>
                <div>
                  In order to prepare for the symphony, you will need to learn the songs from the list below. Depending on your skill level and the amount of time you can spend on learning, you can choose to learn all songs under one of the Categories below OR learn the entire set of songs across both categories
                  <br/>
                  <br>
                  Category 1
                  <br>
                  <br>
                  <ol>
                    <li>
                      Vara leela gana
                    </li>
                    <li>
                      Saarasa netra
                    </li>
                    <li>
                      Guru murthe
                    </li>
                    <li>
                      Vande meenakshi tvam
                    </li>
                    <li>
                      Giridhara mamava
                    </li>
                    <li>
                      Shakti Sagitha Ganapathim
                    </li>
                    
                    
                  </ol>
                  <br/>
                  Category 2
                  <br>
                  <br>
                  <ol>
                    <li>
                      Giri raja
                    </li>
                    <li>
                      Dandamu pettenura
                    </li>
                    <li>
                      Jayathi jayathi
                    </li>
                    <li>
                      Bhaagyada
                    </li>
                    <li>
                      Shambho gangaadhara
                    </li>
                    <li>
                      We are the world
                    </li>
                  </ol>
                  <br>
                  
                </div>
              </ul>
            </li>
            <div class="allSongsTxt">
              (All songs are available for download after completing registration)
            </div>
            <li>
              <u>
                Recognition:
              </u>
              All participants will receive a medal and a certificate signed by eminent Carnatic musicians.
            </li>
            <li>
              <u>
                Locations
              </u>
              :
              <ul>
                <li>
                  Indo-American Festival of Performing Arts - Sarovar at Detroit, Oakland University at 1-2 PM on May 11th, 2013
                </li>
                <li>
                  For other locations, please check back for updates on our Facebook page (
                  <a href="http://www.facebook.com/Musiguru" target="_blank">
                    www.facebook.com/Musiguru)
                  </a>
                  .
                </li>
              </ul>
            </li>
            <!-- 
<li>
<u>
Registration Fees
</u>
:
Fees for participating in the Symphony at Cleveland for Individuals is $150. Music Schools and Organizations with more than 10 students participating will be charged at $100 per participant.- Fees and details for other locations will be updated shortly.
</li>
-->
      
      <li>
        <u>
          Registration Fees
        </u>
        : 
        <br/>
        
        <ul>
          <li>
            
            For students from a music school with 10 or more participants - $50
          </li>
          <li>
            For students who have participated in the Musiguru Carnatic Symphony at Cleveland - $50
          </li>
          <li>
            For all other students either as individuals or from music schools with less than 10 students - $75
          </li>
        </ul>
        
      </li>
      
      <a href="javascript:void(0)" ng-click="showLess('detroit')">
        (Show less)
      </a>
    </div>
    </div>
    
    
    
    
    
    
    <!-- 
<div class="desc">
<br>
<b>
Location2 : &nbsp;
</b>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
<a href="#/introduction?scrollTo=loc2">
(Read more)
</a>
</div>
<div class="desc">
<br>
<b>
Location3 : &nbsp;
</b>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
<a href="#/introduction?scrollTo=loc3">
(Read more)
</a>
</div>

<div class="desc">
<br>
<b>
Location4 : &nbsp;
</b>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
<a href="#/introduction?scrollTo=loc4">
(Read more)
</a>
</div>
-->
    
    <div class="desc loc4">
      <br>
      
      <br>
      <span>
        <b style="float:left;">
          Cleveland : &nbsp;
        </b>
        
        <input type="button" class="btnLogin btnregister" value="Register" ng-click="symphoneyHomeBtnClick('loc4')" style="display:none">
        
        <input type="button" class="btnLogin" value="View Performance" ng-click="showClevelandVideo()">
        
        
      </span>
      
      <div>
        Musiguru presents 
        <b>
          the world’s first ever Carnatic Symphony at the Cleveland Thyagaraja Festival 2013.
        </b>
        <br>
        <br>
        
        <b>
          The Carnatic Symphony,
        </b>
        a unique idea conceptualized by Sri K.N.Shashikiran, fuses Western Classical with Carnatic music. It will have kids from various nationalities and musical backgrounds performing together. This concert will feature simple yet attractive pieces from Carnatic music such as short Utsava Sampradaya kritis of Sri Tyagaraja, Nottu svarams of Sri Muttusvamy Dikshitar and other similarly popular pieces presented through voice and instruments.
        <br>
        <br>
        
        The Carnatic Symphony, an Indo-American collaboration, in honor of World leader Barack Obama, is a cultural gesture to promote world peace and harmony.
        <br>
        <br>
        
        This Symphony will be featured in the prestigious Cleveland Thyagaraja Festival, 2013 and will be publicized at the Senate level and will draw national attention. Participants will be awarded special medals and certificates at the end of the performance and will get global media visibility via television and YouTube channels.
        <br>
        <br>
        
        The Carnatic Symphony will also be conducted in various other locations in North America.
        <br>
        <br>
        
        We invite all music students, including those at beginner levels, to participate in this great opportunity.
        <br>
        <br>
        <a class="loc4_link" href="javascript:showMore('loc4')">
          (Show more)
        </a>
      </div>
      <div class="loc4_more" style="display:none;">
        <u>
          <b>
            Details
          </b>
        </u>
        <ul>
          <li>
            <u>
              Expert Panel
            </u>
            : K. N Shashikiran, Chitravina P. Ganesh (Carnatica
            Brothers) and Prof. Leo Coach (Cleveland State University)
          </li>
          <li>
            <u>
              Music Arrangement
            </u>
            : Keyboard Sathyanaryana (child prodigy)
          </li>
          <li>
            <u>
              Age Criteria
            </u>
            : Below 16 years
          </li>
          
          <li>
            <u>
              Eligibility:
            </u>
            Students who are familiar with singing geethams and small songs like the Nottu Svarams. Any training in Western classical and choir singing may be mentioned separately.
          </li>
          <li>
            <u>
              Training
            </u>
            :
            <ul>
              <li>
                Students will be provided an online experience to familiarize themselves with the songs
              </li>
              <li>
                Students can avail of individual training support from their teachers
              </li>
              <li>
                Students will need to attend the live group rehearsals in Cleveland on 30th and 31st March
              </li>
              <li>
                If needed, our expert team will consider additional rehearsals and personalized Skype sessions (with prior appointment)
              </li>
              <li>
                List of Songs
              </li>
              <div>
                In order to prepare for the symphony, you will need to learn the songs from the list below. Depending on your skill level and the amount of time you can spend on learning, you can choose to learn all songs under one of the Categories below OR learn the entire set of songs across both categories
                <br/>
                <br>
                Category 1
                <br>
                <br>
                <ol>
                  <li>
                    Vara leela gana
                  </li>
                  <li>
                    Saarasa netra
                  </li>
                  <li>
                    Guru murthe
                  </li>
                  <li>
                    Vande meenakshi tvam
                  </li>
                  <li>
                    Giridhara mamava
                  </li>
                  <li>
                    Shambho gangaadhara
                  </li>
                  
                </ol>
                <br/>
                Category 2
                <br>
                <br>
                <ol>
                  <li>
                    Giri raja
                  </li>
                  <li>
                    Dandamu pettenura
                  </li>
                  <li>
                    Sudha mayi
                  </li>
                  <li>
                    Jayathi jayathi
                  </li>
                  <li>
                    Maitreem bhajatha
                  </li>
                  <li>
                    Bhaagyada
                  </li>
                </ol>
                <br>
                
              </div>
            </ul>
          </li>
          <div class="allSongsTxt">
            (All songs are available for download after completing registration)
          </div>
          <li>
            <u>
              Recognition:
            </u>
            All participants will receive a medal and a certificate signed by eminent Carnatic musicians.
          </li>
          <li>
            <u>
              Locations
            </u>
            :
            <ul>
              <li>
                The Cleveland Thyagaraja Festival, April 1, 2013 (8 am)
              </li>
              <li>
                For other locations, please check back for updates on our Facebook page (www.facebook.com/Musiguru).
              </li>
            </ul>
          </li>
          <!-- 
<li>
<u>
Registration Fees
</u>
:
Fees for participating in the Symphony at Cleveland for Individuals is $150. Music Schools and Organizations with more than 10 students participating will be charged at $100 per participant.- Fees and details for other locations will be updated shortly.
</li>
-->
          
          <li>
            <u>
              Registration Fees
            </u>
            : Location specific.
            <br/>
            
            <ul>
              <li>
                Fees for participating in the Symphony at Cleveland for Individuals is $150. Music Schools and Organizations with more than 10 students participating will be charged at $100 per participant.
              </li>
              <li>
                Fees for other locations will be updated shortly.
              </li>
            </ul>
            
          </li>
          
        </ul>
        <a href="javascript:showLess('loc4')">
          (Show less)
        </a>
        
      </div>
    </div>
    </div>
    </div>
  </div>