<div id="home_popup_box" ng-controller="Popupctrl">	

		<img src="images/button_close.png" id="popupBoxClose" ng-click="unloadpopup()"/>
		<div class="homePopBoxContentContainer">	

				<div class="popupBoxLeft">
					<div class="homePopHeaderContainer">
						<img src="images/fxd_hdr_logo.png" class="popupHeaderIcon"/>
						<div class="popHeaderTitle">Become a Musiguru member</div>
					</div>
					<div class="popupFooterText" ng-show="MgModal.isDirect">I already have an account &nbsp;/&nbsp;<a href="javaScript:showLogin()" style="font-size:1.2em">Log In</a></div>
					<form class="box homeBox signup" ng-submit="callMGSignup();">
						<fieldset class="homBoxBody">
						  <label>Email</label>
						  <input type="email" id="mg-enroll-username" placeholder="johnsmith@gmail.com" required>
						  <label>Password</label>
						  <input type="password" id="mg-enroll-password" placeholder="Password" required>
						 <label>Confirm Password</label>
						  <input type="password" id="mg-enroll-confpassword" placeholder="Password" required>
						  <label>First Name</label>
						  <input type="text" id="mg-enroll-firstname" placeholder="John" required>
						  <label>Last Name</label>
						  <input type="text" id="mg-enroll-lastname" placeholder="Smith" required>

						</fieldset>

						<footer>
						   <input type="submit" class="btnLogin" value="Signup">
						</footer>

					</form>
					
					
				</div>
				<div class="popupBoxRight" style="display:none">
					<div class="homePopHeaderContainer">
						<img src="images/fxd_hdr_logo.png" class="popupHeaderIcon"/>
						<div class="popHeaderTitle">Existing User? Login Now!</div>
					</div>
					<div class="popupFooterText" ng-show="MgModal.isDirect">Do not have an account&nbsp;/&nbsp;<a href="javaScript:showSingnup()" style="font-size:1.2em">Sign Up</a></div>
					<div class="popupFooterText" ng-show="MgModal.isSubscribe">
							 To avail the subscription, please Login
					</div>
					<form class="box homeBox login"  ng-submit="checkMGLogin();" name="myForm" id="homeLoginBox">
						<fieldset class="homBoxBody">
						  <label>Email</label>
						  <input type="email" id="login-username" placeholder="johnsmith@gmail.com" required>
						  <label>Password</label>
						  <input type="password" id="login-password" placeholder="Password" required>
						  <label><a href="javascript:void(0)" class="rLink" tabindex="7" ng-click="resetMGPassword()">Forgot your password?</a></label>
						</fieldset>
						<footer>
						  <input type="submit" class="blueButton" value="Login">
						</footer>
					</form>
					
				</div>

			</div>

		</div>
		<div id="header" ng-controller="Headerctrl">
			<div id="headerContainer">
				<div style="float:left">
					<div  class="libraryTitle headerMenu" ng-click="loadExploreLibrary()">
						Explore Library
					</div>
					<div  class="dividerWrapper">
						<img src="images/fxd_hdr_dvdr.png">
					</div>
					<div id="searchwrapper" style="display:none">
						<form action="">
							<input type="text" class="searchbox" name="s" value="" placeholder="Search Library"/>
							<input type="image" src="images/fxd_hdr_icon_search.png" class="searchbox_submit" value="" />
						</form>
					</div>
				</div>
				<div ng-click="homeLogoClick()" style="cursor:pointer" class="headerMenu">
					<img src="images/fxd_hdr_logo.png" class="headerHomeLogo" title="Go to Musiguru Home" alt="Home">
				</div>
				<div style="float:right;margin-right:0px">
					<div  class="dividerWrapper" ng-hide="MgModal.isLogin">
						<img src="images/fxd_hdr_dvdr.png" >
					</div>
					<a href="#/?scrollTo=howItWorks" ng-hide="MgModal.isLogin">
						<div   style="cursor: pointer;margin-left:25px" class="headerMenu">
							How Musiguru Works
						</div>
					</a>
					<div  class="dividerWrapper" ng-show="MgModal.isLogin">
						<img src="images/fxd_hdr_dvdr.png" >
					</div>
					<div  class="libraryTitle headerMenu" ng-click="loadLessonBoard()" ng-show="MgModal.isLogin" >
						Lessonboard
					</div>

					<div  class="libraryTitle" ng-show="MgModal.isLogin" >
						{{MgModal.user.username}}
					</div>					
					
					<div  class="dividerWrapper" ng-hide="MgModal.isLogin">
						<img src="images/fxd_hdr_dvdr.png" >
					</div>
					<div  ng-click="displayLoginbox()" ng-hide="MgModal.isLogin" style="cursor: pointer;" class="headerMenu">
						<div  class="dividerWrapper">
							<img src="images/fxd_hdr_icon_login.png" >
						</div>
						Log In 
					</div>
					<div  class="dividerWrapper" ng-show="MgModal.isLogin">
						<img src="images/fxd_hdr_dvdr.png" >
					</div>
					<div class="headerSignout" ng-click="logout()" ng-show="MgModal.isLogin">
						Sign out
					</div>
					
					<div class="headerRightBtn" ng-click="displaySignupbox()" ng-hide="MgModal.isLogin" style="">
						Sign Up
					</div>
					
				</div>
			</div>
			
		</div>
		<div id="container" onclick="unloadLoginbox()" class="opaqueLayer"></div>
</div>
